.container {
  background: var(--color-dark-c);
  width     : 100vw;
  height    : 100vh;
}

.notfound {
  background       : var(--color-dark-a);
  position         : fixed;
  top              : 50%;
  left             : 50%;
  transform        : translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform   : translate(-50%, -50%);
  height           : 70px;
  padding          : 0 20px;
  box-shadow       : var(--shadow-a);
  font-size        : 24px;
}


.notfound>h5,
.notfound>small,
.notfound>a {
  height     : 40px;
  color      : var(--color-light-a);
  line-height: 40px;
  font-weight: normal;

}

.notfound>h5 {
  margin: 0 20px;

}

.notfound>a {
  background : var(--color-dark-c);
  width      : 100px;
  margin-left: 20px;
  text-align : center;
  font-size  : 16px;
}