.designsList {
    display   : flex;
    flex-flow : row wrap;
    width     : 100%;
    margin-top: 10px;
}

.design {
    display  : flex;
    flex-flow: row wrap;
    width    : 100%;
    padding  : 0 15px;
    margin   : 10px 0;
}

.designTitle {
    width      : 100%;
    height     : 40px;
    margin     : 10px 0;
    color      : var(--color-light-a);
    font-size  : 22px;
    line-height: 40px;
}

.designDescription {
    width     : 100%;
    color     : var(--color-light-a);
    text-align: justify;
}

.designDescription * {
    color      : var(--color-light-a);
    text-align : justify;
    line-height: 40px;
}

.designOptions {
    display   : flex;
    flex-flow : row wrap;
    margin-top: 20px;
}

.designButton {
    background  : var(--color-dark-a);
    width       : 100px;
    height      : 40px;
    margin-right: 10px;
    color       : var(--color-light-a);
    font-size   : 18px;
    line-height : 40px;
    text-align  : center;
}

.noData {
    width      : 100%;
    height     : 50px;
    margin-top : 20px;
    color      : var(--color-light-a);
    text-align : center;
    line-height: 40px;
}

.imagesList {
    display  : flex;
    flex-flow: row wrap;
    width    : 100%;
    padding  : 0 10px;
    margin   : 10px 0;
}

.imageEl {
    position : relative;
    display  : flex;
    flex-flow: row wrap;
    width    : 100%;
}

.imageEl>img {
    width : 100%;
    height: 190px;
    margin: 5px 0;
}

.isCover {
    position   : absolute;
    bottom     : 10px;
    left       : 10px;
    background : var(--color-light-a);
    height     : 25px;
    line-height: 25px;
    text-align : center;
    font-weight: bold;
    padding    : 0 10px;
}